<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
		  <h3><font color="white">The registration fee is to be paid on spot</font></h3>
                    <form name="contact" method="POST" netlify>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" name="phone" placeholder="Your Phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
			        <div class="control-group form-group">
                                    <input type="text" class="form-control" name="department" placeholder="Your Department" required data-validation-required-message="Please enter your department">
                                    <p class="help-block text-danger"></p>
                                </div>
			        <div class="control-group form-group">
                                    <input type="text" class="form-control" name="college" placeholder="Your College Name" required data-validation-required-message="Please enter your College Name">
                                    <p class="help-block text-danger"></p>
                                </div>
				<div class="control-group form-group">
				    <input type="number" class="form-control" name="year" min="1" max="4" placeholder="year to be mentioned(1-4)">
				</div>
                                   <font color="white"> 
				    <p><label>Technical Events</label></p>
				    <input type="checkbox" name="event1" value="TalkOfGeeks">Talk of Geeks<br>
				    <input type="checkbox" name="event2" value="Presentation">Paper Presentation<br>
 			  	    <input type="checkbox" name="event3" value="Coderator">Coderator<br>
				    <input type="checkbox" name="event4" value="Quizzards">Quizzards<br>
			            <input type="checkbox" name="event5" value="Design">Le Design<br>
				    <p><label>Non-Technical Events</label></p>
				    <input type="checkbox" name="event6" value="Pubg">PUBG<br>
			       	    <input type="checkbox" name="event7" value="Shortfilm">Smartphone Film Festival<br>
 				    <input type="checkbox" name="event8" value="IPL">IPL Auctions<br>
				    <input type="checkbox" name="event9" value="Channel">Channel Surfing<br>
				    <input type="checkbox" name="event10" value="Treasure">Treasure Hunt<br>
				   </font>
				<p><font color="white"><label>Choose your choice of food</label></p>
				<input type="radio" name="food" value="veg">Veg<br>
				<input type="radio" name="food" value="non-veg">Non-veg<br></font>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" value="Send" class="btn btn-xl">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
