<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vels Stars Registration</h2>
                </div>
            </div>
		 <marquee align ="{|middle|}"> The LIGHT MUSIC and CHOREONIGHT registrations will be closing soon</marquee>
                 <center><a href="https://goo.gl/forms/pp7E1hceRX6LrrMJ3" class="page-scroll btn btn-xl">Registration Open</a></center>
            </div>
        </div>
    </section>
