<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vels Stars Registration</h2>
                </div>
            </div>
		 <marquee align ="{|middle|}" color="blue"> One more day to fire up your talents, see you guys soon on main stage, we thank you for your registration</marquee>
                 <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>
            </div>
        </div>
    </section>
