<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">
<p data-height="265" data-theme-id="dark" data-slug-hash="EjLBdQ" data-default-tab="js,result" data-user="deanwagman" data-pen-title="Particles in space" class="codepen">See the Pen <a href="https://codepen.io/deanwagman/pen/EjLBdQ/">Particles in space</a> by 
Dean Wagman (<a href="https://codepen.io/deanwagman">@deanwagman</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

    {% include 2016_data/header-home.html %}

 <!-- Header -->
    <header>
        <div class="container">
	 <font color="white">
            <div class="intro-text">
                <div class="intro-heading">Welcome to Pravesha 2018<br></div>
		<div class="intro-lead-in">12th October,2018</div>
	 </font>
                <a href="#intro" class="page-scroll btn btn-xl">Scroll down</a>
            </div>
        </div>
</header>

    {% include 2016_data/intro.html %}
    {% include 2016_data/speakers.html %}
    {% include 2016_data/about.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
