<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2016_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
	<audio autoplay>
		<source src="audio/warface-theme.mp3" type="audio/mpeg">
	</audio>
            <div class="intro-text">
	    <font color="yellow">
                <div class="intro-heading">VELS STARS 2k18<br></div>
                <div class="intro-lead-in">6th April,2018</div>
                <div class="intro-lead-in">VISTAS</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
	    </font>
            </div>
        </div>
    </header>

    {% include 2016_data/intro.html %}
    {% include 2016_data/speakers.html %}
    {% include 2016_data/about.html %}
    {% include 2016_data/sponsors.html %}
    {% include 2016_data/media_partner.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
