<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}

    <body id="page-top" class="index">
    <img src="css\2016_style\img\vels_logo.png" alt="Vels logo" width="400" height="200">

    {% include 2016_data/header-home.html %}

 <!-- Header -->
    <header>
        <div class="container">
	 <font color="white">
            <div class="intro-text">
                <div class="intro-heading">Welcome to Pravesha 2018<br></div>
		<div class="intro-lead-in">12<sup>th</sup>October,2018</div>
	 </font>
                <a href="#intro" class="page-scroll btn btn-xl">Scroll down</a>
            </div>
        </div>
</header>

    {% include 2016_data/intro.html %}
    {% include 2016_data/speakers.html %}
    {% include 2016_data/about.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
